
__pycache__/
*.pyc
*.pyd
*.pyo
*.log
log*.txt

# Artifacts
*.dmn
*.dmna
*.model
*.bin
*.pdf
# Allow holo files as they are small
# *.holo 

# Large Media
*.mp4
*.wav
*.avi
*.mov

# Test outputs
test_restored*
test_output*
daemon_test*

# GUI uploads
gui_uploads/
